@media (min-width: 576px) {
    form .col-sm-3.control-label {
    text-align: right;
  }
}

form {
  .fa.fa-asterisk {
    font-size: 0.5rem;
    vertical-align: super;
  }

  .col-sm-3.control-label {
    font-weight: bold;
  }

  .radio input {
    margin-right: 1rem;
  }

  .radio {
    label {
      display: block;
    }
  }

  .help-block {
    color: red;
  }
}
